body{
    margin: 0;
    padding: 0;
    background: lightslategray ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{

    background-color: rgb(255, 221, 221);
    padding: .5em;
    box-shadow: 1px 1px 1px white ;
}

section:nth-of-type(1){
    background-color: lightsteelblue;
    padding: 1em;
  
}